<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Service token</key>
	<string>ee3d8579ee3d8579ee3d8579eeee46888ceee3dee3d85798fc9d0509c43088ba82dbc03</string>
	<key>Secure key</key>
	<string>vvldMlnmILyj6IxGtmBZ</string>
	<key>App ID</key>
	<string>8064501</string>
</dict>
</plist>
